/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --primary-color: hsl(25, 97%, 53%);
}

body {
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

p {
    font-size: .9rem;
    line-height: 1.4em;
}

.container {
    width: 75%;
    margin: 0 auto;
    background-color: #192028;
    padding: 1.5rem;
    border-radius: 1em;
}

.container h1 {
    margin: .6em 0;
    color: white;
}

.container p {
    margin: .5em 0;
    color: hsl(216, 12%, 54%);
    font-weight: 700;
}

.icon svg {
    padding: .75em;
    border-radius: 50%;
    background-color: hsl(213, 19%, 18%);
}

#number-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5em 0;
}

.btn-number {
    border-radius: 50%;
    border: none;
    padding: 1.1em 1.35em 0.85em 1.35em;
    font-weight: 700;
}

.btn-number.default {
    background-color: hsl(213, 19%, 18%);
    color: hsl(217, 12%, 63%);
}

.btn-number.selected {
    background-color: hsl(216, 12%, 54%);
    color: white;
}

.btn-number:hover {
    background-color: hsl(25, 97%, 53%);
    color: white;
}

.btn-submit {
    width: 100%;
    border-radius: 15em;
    padding: .95em 0;
    font-size: .85rem;
    letter-spacing: .2em;
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-weight: 700;
}

.btn-submit:hover {
    background-color: white;
    color: var(--primary-color);
}

.thank-you {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#selected-number {
    display: inline-block;
    margin: 1.2em 0 1em 0;
    border-radius: 15em;
    background-color: rgba(128, 128, 128, 0.138);
    color: var(--primary-color);
    padding: .5em 1em .25em 1em;
}

@media screen and (min-width: 525px) {
    .container {
        width: 50%;
    }
}

@media screen and (min-width: 750px) {
    .container {
        width: 35%;
    }
}

@media screen and (min-width: 1000px) {
    .container {
        width: 25%;
    }
}

@media screen and (min-width: 1250px) {
    .container {
        width: 20%;
    }
}