body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;

}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
}

.component {
    width: 75%;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 0 50px 5px hsla(217, 45%, 22%, 0.152);
}

h1 {
    font-size: 1.5rem;
    color: hsl(218, 44%, 22%);
}

.component * {
    margin: 0 0;
    padding: 0 .5em;
    margin-bottom: 1.25em;
}

.component p {
    margin-top: -.7em;
    color: hsl(220, 15%, 55%)
}

.component img {
    width: 100%;
    border-radius: .5em;
    padding: 0 0;
}

@media screen and (min-width: 425px) {
    .component {
        width: 50%;
    }
}

@media screen and (min-width: 725px) {
    .component {
        width: 21%;
    }
}